
@media (max-width: 1400px) {
    .navbar__menu {
        gap: 100px;
    }   
    .hero-images {
        gap: 30px;
    }
}
@media (max-width: 1366px) {
    .hero__info {
        gap: 40px;
        width: 300px;
    }
    .hero__info h1 {
        font-size: 28px;
    }
    

    .hero-img1 {
        padding: 5px;
        height: 150px;
        width: 250px;
        background-image: url(./img/hero-img1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        border-radius: 1rem;
    }
    .hero-img2 {
        padding: 5px;
        height: 150px;
        width: 200px;
        background-image: url(./img/hero-img2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        border-radius: 1rem;
    }
    .hero-img3 {
        padding: 5px;
        height: 250px;
        width: 150px;
        background-image: url(./img/hero-img3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        border-radius: 1rem;
    }
    .hero-img4 {
        padding: 5px;
        height: 150px;
        width: 250px;
        background-image: url(./img/hero-img4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        border-radius: 1rem;
    }

    .hero-images {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        width: 100vw;
        height: 700px;
        padding: 15px;
    }
}
@media (max-width: 1200px) {
    .hero__info h1 {
        font-size: 26px;
    }
    .navbar__menu {
        gap: 70px;
    }
    .navbar__list {
        gap: 20px;
    }
    .hero__info--container {
        gap: 50px;
    }
    #contact {
        gap: 150px;
    }
    .footer__container {
        gap: 300px;
    }
    .hero-images {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        width: 100vh;
        height: 100vh;
        padding: 15px;
    }
    .img-up {
        height: 600px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
    .img-down {
        height: 600px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
    .servicios__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .button-hero a {
      padding: 10px 10px;
    }
    .button-hero {
        font-size: 16px;
      }
      .products-offer h3 {
        font-size: 24px;
    }
    #products h4 {
        font-size: 24px;
    }
    #servicios h2 {
        font-size: 24px;
    }
}
@media (max-width: 1070px) {

    .hero-images {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        width: 100vh;
        height: 100vh;
        padding: 15px;
    }
    .img-up {
        height: 400px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
    .img-down {
        height: 400px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
    .hero__info h1 {
        font-size: 20px;
    }
    .navbar__menu {
        gap: 40px;
    }
    #contact {
        gap: 120px;
    }
    .footer__container {
        gap: 200px;
    }   
    #servicios h2 {
        font-size: 20px;
    }
    .products-offer h3 {
        font-size: 20px;
    }
    #products h4 {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    header {
        padding: 10px 20px;
    }

    .hero-images {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        width: 100vw;
        height: 600px;
        padding: 5px;
    }
    .img-up {
        height: 500px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }
    .img-down {
        height: 500px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }
    .hero-img1 {
        padding: 5px;
        height: 100px;
        width: 150px;
        background-image: url(./img/hero-img1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        border-radius: 1rem;
    }
    .hero-img2 {
        padding: 5px;
        height: 120px;
        width: 170px;
        background-image: url(./img/hero-img2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        border-radius: 1rem;
    }
    .hero-img3 {
        padding: 5px;
        height: 200px;
        width: 100px;
        background-image: url(./img/hero-img3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        border-radius: 1rem;
    }
    .hero-img4 {
        padding: 5px;
        height: 100px;
        width: 150px;
        background-image: url(./img/hero-img4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        border-radius: 1rem;
    }
    
    .servicios__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .servicios-info {
        width: 220px;
    }
    .servicios-info p {
        display: flex;
        font-size: 14px;
        font-weight: 500;
    }

    .menu-label {
        display: flex;
    }
    .menu-label i {
        cursor: pointer;
        font-size: 24px;
        color: var(--login-text);
    }

    .navbar__menu {
        position: absolute;
        top: 70px;
        left: 0%;
        right: 0%;
        width: 100%;
        flex-direction: column;
        justify-content: center; 
        backdrop-filter: blur(16px) saturate(200%);
        -webkit-backdrop-filter: blur(16px) saturate(200%);
        background-color: #8e9eab86;
        border: 1px solid rgba(255, 255, 255, 0.125);
        border-top: none;
        border-radius: 0px 0px;
        align-items: center;
        gap: 20px;
        padding: 30px 30px;
        z-index: 2;
        display: none;
        transform: translatex(100%);
        opacity: 0;
        animation: fade 1.0s ease-in-out forwards, slide-menu 1.0s ease-in-out forwards;
    }  
    
    .navbar__list,
    .header__register {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }    

    /* se agrega la clase show menu a l navbar para desplegar en el evento click */
    .show-menu {
        display: flex;
    }

    /* hasta aqui estilos icon navbar y evento click  */

    .hero__info {
        gap: 40px;
    }
    .hero__info h1 {
        font-size: 20px;
    }
    .hero__info--container {
        gap: 20px;
    }
    .hero__info--content {
        gap: 20px;
    }
    .hero__info--content p {
        font-size: 18px;
    }
    .hero__info--content a {
        font-size: 16px;
    }
    .container--img img {
        width: 280px;
    }
    .hero-ilustration img {
        width: 80%;
    }

    #contact {
        flex-direction: column;
        gap: 60px;
    }
    .footer__container {
        gap: 100px;
    }   
}
@media (max-width: 768px) {
    .btn-buy-delete {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 60px;
    }
    .hero-images {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 100vw;
        height: 100vh;
        padding: 5px;
    }

    .hero__info h1 {
        font-size: 20px;
    }

    .button-hero a {
        padding: 10px 10px;
    }
      .button-hero {
          font-size: 16px;
    }
    .hero__titulo {
        flex-direction: column;
    }

    .hero-ilustration img {
        width: 50%;
    }
    .servicios__container {
        flex-direction: column;
        gap: 30px;

}
@media (max-width: 576px) {
    .hero-images {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100vw;
        height: 600px;
        padding: 5px;
    }
    .hero-img1 {
        padding: 5px;
        height: 100px;
        width: 150px;
        background-image: url(./img/hero-img1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        border-radius: 1rem;
    }
    .hero-img2 {
        padding: 5px;
        height: 120px;
        width: 170px;
        background-image: url(./img/hero-img2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        border-radius: 1rem;
    }
    .hero-img3 {
        padding: 5px;
        height: 200px;
        width: 100px;
        background-image: url(./img/hero-img3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        border-radius: 1rem;
    }
    .hero-img4 {
        padding: 5px;
        height: 100px;
        width: 150px;
        background-image: url(./img/hero-img4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        border-radius: 1rem;
    }
    .img-up {
        height: 400px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }
    .img-down {
        height: 400px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }
    .List-categories {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        padding: 5px;
        width: 100vw;
    }
    .category {
        font-size: 12px;
         font-weight: 200;
         letter-spacing: 1px;
         padding: 8px 16px 8px;
         outline: 0;
         border: 1px solid black;
         cursor: pointer;
         position: relative;
         background-color: rgba(0, 0, 0, 0);
         user-select: none;
         -webkit-user-select: none;
         touch-action: manipulation; 
     }
     .container__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 500px;
        border-radius: 10px;
    }

     .card--content {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 300px;
        gap: 20px;
        padding: 15px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .card--img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        width: 260px;
        padding: 15px;
        border-radius: 16px;
        box-shadow: inset 0px -6px 80px 13px rgba(0,0,0,0.1);
        box-shadow: -17px 28px 23px 13px rgba(0,0,0,0.1);
    }
    .card--img img {
        width: 100px;
    }

    .header__logo {
        width: 50%;
    }
    #hero {
        padding: 5px;
    }
    .hero__info--container {
        gap: 10px;
    }
    .hero__info--content {
        gap: 10px;
    }
    .hero__info--content p {
        font-size: 16px;
    }
    .hero__info--content a {
        font-size: 16px;
    }
    .container--img img {
        width: 200px;
    }
    #servicios h2 {
        font-size: 20px;
    }
    .contact__maps iframe {
        width: 250px;
        height: 250px;
    }
    .contact__mensaje--textarea input {
        width: 250px;
    }    
    .contact__mensaje--textarea textarea {
        width: 250px;
    }
    .contact__mensaje--textarea a {
        width: 250px;
    }
    
}
}